<ion-header>
  <ion-toolbar>
    <ion-title>students</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</ion-header>

<ion-content>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fullname</th>
        <th scope="col">Email</th>
        <th scope="col">Country</th>
        <th scope="col">Actions</th>
        <th scope="col">
          <button class=" btn btn-primary" (click)="add()">ADD</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of listevide;let index = index">
        <th scope ="row">{{student.id}} </th>
        <td>{{ student.name }} </td>
        <td>{{ student.email }} </td>
        <td>{{ student.country }} </td>
        <td>
          <button type="button" class="btn btn-outline-success" (click)="edit(student.id)">Edit</button>
          <button type="button" class="btn btn-outline-danger" (click)="delete(student.id)" style="margin: 2%;">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>
